* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*サイトのはじめの紹介文*/
.top-wrapper {
  padding: 240px 0 180px 0;
  background-image: url(topImage.png);
  background-size: cover;
  color: white;
  text-align: center;
  width: 100%;
  height: 700px;
}

.top-wrapper h1 {
  opacity: 1.0;
  font-size: 54px;
  letter-spacing: 5px;
}

h1{
  font-size: 45px;
}

h2{
  font-size: 26px;
}

.top-wrapper h2 {
  font-weight: normal;
  font-size: 30px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.scroll{
  padding-top: 40px;
  padding-bottom: 40px;
}

/*Profileのプログラム*/
.profile-wrapper{
  max-width: 1000px;
  margin: auto;
}

.profile{
  text-align: center;
}

.myicon img{
  width: 30%;
  height: auto;
  margin-right: 25px;
  float: left;
  border-radius: 50%;
}

.myprofile{
  margin-left: 30%;
  width: 70%;
/*  border: solid 1px;*/
}

.techImage{
  margin-top: -5px;
  padding-left: 25px;
  float: left;
  max-width: 600px;
}

.techImage img{
  width: 15%;
  height:15%;
/*  height: 100px;
  width: 100px;*/
  padding: 15px 15px;
}

/*worksのプログラム*/
.works-wrapper{
  max-width: 1000px;
  margin: auto;
}

.works{
  text-align: center;
}

.deliverables{
  margin-left: 1%;
}

.deliverable {
  float: left;
  width: 33%;
  border: solid 1px lightgray;
}

.deliverable-icon{
  text-align: center;
}

.deliverable img{
  margin-top: 15px;
  width: 70%;
  height: 70%;
  border: solid 1px lightgray;
}

.deliverable .title{
  font-weight: bold;
  display: block;
  padding: 8px 0px;
}

.deliverable p{
  padding: 10px 10px;
}

.deliverable p span{
  font-weight: bold;
}

.text-contents{
  width: 90%;
  border-bottom: solid 1px lightgray;
  margin-left: 5%;
}

.sections{
  margin-top: -35px;
}

.section{
  padding-top:20px;
  padding-bottom: 20px;
}


.qiita img{
  width:8%;
  height:8%;
  float: left;
}

.atcoder img{
  width:8%;
  height: 8%;
  float: left;
}

/*contactのプログラム*/
.contact-wrapper{
  margin: auto;
  padding-bottom: 200px;
  background-color: #87cefa;
}

.contact{
  text-align: center;
}

.contact h1{
  color: white;
}

.contact h2{
  display:inline-block;
  padding: 30px 120px;
  background-color: darkgray;
  color: white;
  font-size: 24px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

/*headerのプログラム*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left h2{
  width: 124px;
  margin-top: 15px;
  margin-left: 20px;
  color: white;
  font-size: 26px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:active {
  background-color: rgba(255,255,255,0.3);
}
.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right a:active {
    background-color: rgba(0,0,0,0);
  }
  .header-right a:hover {
    background-color: rgba(0,0,0,0);
  }

  .container {
    padding: 0 8px;
  }

  .myicon img{
    margin-right: 8px;
  }

  .header-left h2{
    margin-left: 0px;
  }

  .header-right{
    margin-right: -10px;
  }

  .header-right a{
    font-size: 8px;
    padding: 0px 8px;
  }

  .profile .works .contact{
    font-size: 20px;
  }

  .scroll{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section{
    padding-top:10px;
    padding-bottom: 10px;
  }

  .contact h2{
    padding: 15px 60px;
    font-size: 8px;
  }

  .top-wrapper .btn {
    width: 100%;
    height: auto;
  }

  .top-wrapper {
    padding: 80px 0 40px 0;
    width: 100%;
    height:300px;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper h2 {
    font-size: 20px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  h1{
    font-size: 18px;
  }

  h2{
    font-size: 14px;
  }

  p{
    font-size: 8px;
  }

  li{
    font-size: 8px;
  }

  .sections{
    margin-top: -20px;
  }

  .techImage img{
    padding: 2px 2px;
  }

  .message-wrapper .btn {
    width: 100%;
  }

  .contact-wrapper{
    padding-bottom: 100px;
  }
}
